<a href="https://colab.research.google.com/github/sujalkumeriya59/Machine-Learning/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

import pandas as pd

# Step 1: Import sales data from a CSV file into a DataFrame
# Update the file path with the correct location of your sales data CSV file
file_path = "/sales_data_sample.csv"   # or the full correct path if it's in a different directory
df = pd.read_csv(file_path, encoding='latin-1')

# Display the first few rows of the DataFrame
print("Initial DataFrame:")
print(df.head())

# Step 2: Perform basic data cleaning (e.g., handle missing values)
# Example: Fill missing 'SalesAmount' with the mean value
# Assuming 'SALES' is the actual column name for sales amount (replace with the correct name from the output above)
sales_amount_column = 'SALES'
df[sales_amount_column].fillna(df[sales_amount_column].mean(), inplace=True)

tax_rate = 0.05  # 5% sales tax rate
df['SalesTax'] = df[sales_amount_column] * tax_rate # Use the correct column name here as well

# Step 2: Perform basic data cleaning (e.g., handle missing values)
df[sales_amount_column].fillna(df[sales_amount_column].mean(), inplace=True)

# Display the DataFrame after cleaning
print("\nDataFrame after cleaning:")
print(df.head())

# Step 3: Add a new column for Sales Tax (e.g., 5% of SalesAmount)
tax_rate = 0.05  # 5% sales tax rate
df['SalesTax'] = df[sales_amount_column] * tax_rate

# Display the updated DataFrame with the new column
print("\nDataFrame after adding Sales Tax:")
print(df.head())

# Step 4: Export the updated DataFrame to a new CSV file
output_file_path = 'updated_sales_data.csv'  # Replace with your desired output file path
df.to_csv(output_file_path, index=False)

print(f"\nUpdated data has been exported to '{output_file_path}'")
print("Initial DataFrame:")
print(df.head())

# Step 2: Perform basic data cleaning (e.g., handle missing values)
# Example: Fill missing 'SalesAmount' with the mean value
df[sales_amount_column] = df[sales_amount_column].fillna(df[sales_amount_column].mean())

# Display the DataFrame after cleaning
print("\nDataFrame after cleaning:")
print(df.head())

# Step 3: Add a new column for Sales Tax (e.g., 5% of SalesAmount)
tax_rate = 0.05  # 5% sales tax rate
df['SalesTax'] = df[sales_amount_column] * 0.05  # Assuming 5% tax



# Display the updated DataFrame with the new column
print("\nDataFrame after adding Sales Tax:")
print(df.head())

# Step 4: Export the updated DataFrame to a new CSV file
output_file_path = 'updated_sales_data.csv'  # Replace with your desired output file path
df.to_csv(output_file_path, index=False)

print(f"\nUpdated data has been exported to '{output_file_path}'")
# Display the first few rows of the DataFrame
print("Initial DataFrame:")
print(df.head())

# Step 2: Perform basic data cleaning (e.g., handle missing values)
# Example: Fill missing 'SalesAmount' with the mean value
df[sales_amount_column].fillna(df[sales_amount_column].mean(), inplace=True)

# Display the DataFrame after cleaning
print("\nDataFrame after cleaning:")
print(df.head())

# Step 3: Add a new column for Sales Tax (e.g., 5% of SalesAmount)
tax_rate = 0.05  # 5% sales tax rate
df['SalesTax'] = df[sales_amount_column] * tax_rate

# Display the updated DataFrame with the new column
print("\nDataFrame after adding Sales Tax:")
print(df.head())

# Step 4: Export the updated DataFrame to a new CSV file
output_file_path = 'updated_sales_data.csv'  # Replace with your desired output file path
df.to_csv(output_file_path, index=False)

print(f"\nUpdated data has been exported to '{output_file_path}'")
print("Initial DataFrame:")
print(df.head())

# Step 2: Perform basic data cleaning (e.g., handle missing values)
# Example: Fill missing 'SalesAmount' with the mean value
df[sales_amount_column].fillna(df[sales_amount_column].mean(), inplace=True)

# Display the DataFrame after cleaning
print("\nDataFrame after cleaning:")
print(df.head())

# Step 3: Add a new column for Sales Tax (e.g., 5% of SalesAmount)
tax_rate = 0.05  # 5% sales tax rate
df['SalesTax'] = df[sales_amount_column] * tax_rate

# Display the updated DataFrame with the new column
print("\nDataFrame after adding Sales Tax:")
print(df.head())

# Step 4: Export the updated DataFrame to a new CSV file
output_file_path = 'updated_sales_data.csv'  # Replace with your desired output file path
df.to_csv(output_file_path, index=False)

print(f"\nUpdated data has been exported to '{output_file_path}'")

Initial DataFrame:
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...
1    5/7/2003 0:00  Shipped       2         5     2003  ...
2    7/1/2003 0:00  Shipped       3         7     2003  ...
3   8/25/2003 0:00  Shipped       3         8     2003  ...
4  10/10/2003 0:00  Shipped       4        10     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium

[5 rows x 25 columns]

DataFrame after cleaning:
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ... ADDRESSLINE2  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...          NaN
1    5/7/2003 0:00  Shipped       2         5     2003  ...          NaN
2    7/1/2003 0:00  Shipped       3         7     2003  ...          NaN
3   8/25/2003 0:00  Shipped       3         8     2003  ...          NaN
4  10/10/2003 0:00  Shipped       4        10     2003  ...          NaN

            CITY STATE POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME  \
0            NYC    NY      10022     USA       NaN              Yu
1          Reims   NaN      51100  France      EMEA         Henriot
2          Paris   NaN      75508  France      EMEA        Da Cunha
3       Pasadena    CA      90003     USA       NaN           Young
4  San Francisco    CA        NaN     USA       NaN           Brown

  CONTACTFIRSTNAME DEALSIZE  SalesTax
0             Kwai    Small  143.5500
1             Paul    Small  138.2950
2           Daniel   Medium  194.2170
3            Julie   Medium  187.3350
4            Julie   Medium  260.2635

[5 rows x 26 columns]

DataFrame after adding Sales Tax:
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ... ADDRESSLINE2  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...          NaN
1    5/7/2003 0:00  Shipped       2         5     2003  ...          NaN
2    7/1/2003 0:00  Shipped       3         7     2003  ...          NaN
3   8/25/2003 0:00  Shipped       3         8     2003  ...          NaN
4  10/10/2003 0:00  Shipped       4        10     2003  ...          NaN

            CITY STATE POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME  \
0            NYC    NY      10022     USA       NaN              Yu
1          Reims   NaN      51100  France      EMEA         Henriot
2          Paris   NaN      75508  France      EMEA        Da Cunha
3       Pasadena    CA      90003     USA       NaN           Young
4  San Francisco    CA        NaN     USA       NaN           Brown

  CONTACTFIRSTNAME DEALSIZE  SalesTax
0             Kwai    Small  143.5500
1             Paul    Small  138.2950
2           Daniel   Medium  194.2170
3            Julie   Medium  187.3350
4            Julie   Medium  260.2635

[5 rows x 26 columns]

Updated data has been exported to 'updated_sales_data.csv'
Initial DataFrame:
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ... ADDRESSLINE2  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...          NaN
1    5/7/2003 0:00  Shipped       2         5     2003  ...          NaN
2    7/1/2003 0:00  Shipped       3         7     2003  ...          NaN
3   8/25/2003 0:00  Shipped       3         8     2003  ...          NaN
4  10/10/2003 0:00  Shipped       4        10     2003  ...          NaN

            CITY STATE POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME  \
0            NYC    NY      10022     USA       NaN              Yu
1          Reims   NaN      51100  France      EMEA         Henriot
2          Paris   NaN      75508  France      EMEA        Da Cunha
3       Pasadena    CA      90003     USA       NaN           Young
4  San Francisco    CA        NaN     USA       NaN           Brown

  CONTACTFIRSTNAME DEALSIZE  SalesTax
0             Kwai    Small  143.5500
1             Paul    Small  138.2950
2           Daniel   Medium  194.2170
3            Julie   Medium  187.3350
4            Julie   Medium  260.2635

[5 rows x 26 columns]

DataFrame after cleaning:
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ... ADDRESSLINE2  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...          NaN
1    5/7/2003 0:00  Shipped       2         5     2003  ...          NaN
2    7/1/2003 0:00  Shipped       3         7     2003  ...          NaN
3   8/25/2003 0:00  Shipped       3         8     2003  ...          NaN
4  10/10/2003 0:00  Shipped       4        10     2003  ...          NaN

            CITY STATE POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME  \
0            NYC    NY      10022     USA       NaN              Yu
1          Reims   NaN      51100  France      EMEA         Henriot
2          Paris   NaN      75508  France      EMEA        Da Cunha
3       Pasadena    CA      90003     USA       NaN           Young
4  San Francisco    CA        NaN     USA       NaN           Brown

  CONTACTFIRSTNAME DEALSIZE  SalesTax
0             Kwai    Small  143.5500
1             Paul    Small  138.2950
2           Daniel   Medium  194.2170
3            Julie   Medium  187.3350
4            Julie   Medium  260.2635

[5 rows x 26 columns]

DataFrame after adding Sales Tax:
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ... ADDRESSLINE2  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...          NaN
1    5/7/2003 0:00  Shipped       2         5     2003  ...          NaN
2    7/1/2003 0:00  Shipped       3         7     2003  ...          NaN
3   8/25/2003 0:00  Shipped       3         8     2003  ...          NaN
4  10/10/2003 0:00  Shipped       4        10     2003  ...          NaN

            CITY STATE POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME  \
0            NYC    NY      10022     USA       NaN              Yu
1          Reims   NaN      51100  France      EMEA         Henriot
2          Paris   NaN      75508  France      EMEA        Da Cunha
3       Pasadena    CA      90003     USA       NaN           Young
4  San Francisco    CA        NaN     USA       NaN           Brown

  CONTACTFIRSTNAME DEALSIZE  SalesTax
0             Kwai    Small  143.5500
1             Paul    Small  138.2950
2           Daniel   Medium  194.2170
3            Julie   Medium  187.3350
4            Julie   Medium  260.2635

[5 rows x 26 columns]

Updated data has been exported to 'updated_sales_data.csv'
Initial DataFrame:
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ... ADDRESSLINE2  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...          NaN
1    5/7/2003 0:00  Shipped       2         5     2003  ...          NaN
2    7/1/2003 0:00  Shipped       3         7     2003  ...          NaN
3   8/25/2003 0:00  Shipped       3         8     2003  ...          NaN
4  10/10/2003 0:00  Shipped       4        10     2003  ...          NaN

            CITY STATE POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME  \
0            NYC    NY      10022     USA       NaN              Yu
1          Reims   NaN      51100  France      EMEA         Henriot
2          Paris   NaN      75508  France      EMEA        Da Cunha
3       Pasadena    CA      90003     USA       NaN           Young
4  San Francisco    CA        NaN     USA       NaN           Brown

  CONTACTFIRSTNAME DEALSIZE  SalesTax
0             Kwai    Small  143.5500
1             Paul    Small  138.2950
2           Daniel   Medium  194.2170
3            Julie   Medium  187.3350
4            Julie   Medium  260.2635

[5 rows x 26 columns]

DataFrame after cleaning:
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ... ADDRESSLINE2  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...          NaN
1    5/7/2003 0:00  Shipped       2         5     2003  ...          NaN
2    7/1/2003 0:00  Shipped       3         7     2003  ...          NaN
3   8/25/2003 0:00  Shipped       3         8     2003  ...          NaN
4  10/10/2003 0:00  Shipped       4        10     2003  ...          NaN

            CITY STATE POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME  \
0            NYC    NY      10022     USA       NaN              Yu
1          Reims   NaN      51100  France      EMEA         Henriot
2          Paris   NaN      75508  France      EMEA        Da Cunha
3       Pasadena    CA      90003     USA       NaN           Young
4  San Francisco    CA        NaN     USA       NaN           Brown

  CONTACTFIRSTNAME DEALSIZE  SalesTax
0             Kwai    Small  143.5500
1             Paul    Small  138.2950
2           Daniel   Medium  194.2170
3            Julie   Medium  187.3350
4            Julie   Medium  260.2635

[5 rows x 26 columns]

DataFrame after adding Sales Tax:
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ... ADDRESSLINE2  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...          NaN
1    5/7/2003 0:00  Shipped       2         5     2003  ...          NaN
2    7/1/2003 0:00  Shipped       3         7     2003  ...          NaN
3   8/25/2003 0:00  Shipped       3         8     2003  ...          NaN
4  10/10/2003 0:00  Shipped       4        10     2003  ...          NaN

            CITY STATE POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME  \
0            NYC    NY      10022     USA       NaN              Yu
1          Reims   NaN      51100  France      EMEA         Henriot
2          Paris   NaN      75508  France      EMEA        Da Cunha
3       Pasadena    CA      90003     USA       NaN           Young
4  San Francisco    CA        NaN     USA       NaN           Brown

  CONTACTFIRSTNAME DEALSIZE  SalesTax
0             Kwai    Small  143.5500
1             Paul    Small  138.2950
2           Daniel   Medium  194.2170
3            Julie   Medium  187.3350
4            Julie   Medium  260.2635

[5 rows x 26 columns]

Updated data has been exported to 'updated_sales_data.csv'
Initial DataFrame:
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ... ADDRESSLINE2  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...          NaN
1    5/7/2003 0:00  Shipped       2         5     2003  ...          NaN
2    7/1/2003 0:00  Shipped       3         7     2003  ...          NaN
3   8/25/2003 0:00  Shipped       3         8     2003  ...          NaN
4  10/10/2003 0:00  Shipped       4        10     2003  ...          NaN

            CITY STATE POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME  \
0            NYC    NY      10022     USA       NaN              Yu
1          Reims   NaN      51100  France      EMEA         Henriot
2          Paris   NaN      75508  France      EMEA        Da Cunha
3       Pasadena    CA      90003     USA       NaN           Young
4  San Francisco    CA        NaN     USA       NaN           Brown

  CONTACTFIRSTNAME DEALSIZE  SalesTax
0             Kwai    Small  143.5500
1             Paul    Small  138.2950
2           Daniel   Medium  194.2170
3            Julie   Medium  187.3350
4            Julie   Medium  260.2635

[5 rows x 26 columns]

DataFrame after cleaning:
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ... ADDRESSLINE2  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...          NaN
1    5/7/2003 0:00  Shipped       2         5     2003  ...          NaN
2    7/1/2003 0:00  Shipped       3         7     2003  ...          NaN
3   8/25/2003 0:00  Shipped       3         8     2003  ...          NaN
4  10/10/2003 0:00  Shipped       4        10     2003  ...          NaN

            CITY STATE POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME  \
0            NYC    NY      10022     USA       NaN              Yu
1          Reims   NaN      51100  France      EMEA         Henriot
2          Paris   NaN      75508  France      EMEA        Da Cunha
3       Pasadena    CA      90003     USA       NaN           Young
4  San Francisco    CA        NaN     USA       NaN           Brown

  CONTACTFIRSTNAME DEALSIZE  SalesTax
0             Kwai    Small  143.5500
1             Paul    Small  138.2950
2           Daniel   Medium  194.2170
3            Julie   Medium  187.3350
4            Julie   Medium  260.2635

[5 rows x 26 columns]

DataFrame after adding Sales Tax:
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ... ADDRESSLINE2  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...          NaN
1    5/7/2003 0:00  Shipped       2         5     2003  ...          NaN
2    7/1/2003 0:00  Shipped       3         7     2003  ...          NaN
3   8/25/2003 0:00  Shipped       3         8     2003  ...          NaN
4  10/10/2003 0:00  Shipped       4        10     2003  ...          NaN

            CITY STATE POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME  \
0            NYC    NY      10022     USA       NaN              Yu
1          Reims   NaN      51100  France      EMEA         Henriot
2          Paris   NaN      75508  France      EMEA        Da Cunha
3       Pasadena    CA      90003     USA       NaN           Young
4  San Francisco    CA        NaN     USA       NaN           Brown

  CONTACTFIRSTNAME DEALSIZE  SalesTax
0             Kwai    Small  143.5500
1             Paul    Small  138.2950
2           Daniel   Medium  194.2170
3            Julie   Medium  187.3350
4            Julie   Medium  260.2635

[5 rows x 26 columns]

<ipython-input-32-8aeeacd60bea>:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[sales_amount_column].fillna(df[sales_amount_column].mean(), inplace=True)
<ipython-input-32-8aeeacd60bea>:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[sales_amount_column].fillna(df[sales_amount_column].mean(), inplace=True)
<ipython-input-32-8aeeacd60bea>:75: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[sales_amount_column].fillna(df[sales_amount_column].mean(), inplace=True)
<ipython-input-32-8aeeacd60bea>:99: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[sales_amount_column].fillna(df[sales_amount_column].mean(), inplace=True)

Updated data has been exported to 'updated_sales_data.csv'